name: Test Web

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    name: Paths filter
    runs-on: ubuntu-22.04
    outputs:
      should_run: ${{ steps.filter.outputs.src }}
    steps:
      - uses: actions/checkout@v3

      - uses: AurorNZ/paths-filter@v3
        id: filter
        with:
          filters: |
            src:
              - '!**/*.md'

  build:
    needs: changes
    if: needs.changes.outputs.should_run == 'true'
    name: Test Node.js ${{ matrix.node_version }} / Rust ${{ matrix.rust_version }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ["18", "20"]
        rust_version: [stable] # We most likely don't care about Rust versions here, we'll catch those issues in test_rust.yml.
        os: [ubuntu-22.04, windows-latest]

    steps:
      - name: Dummy
        run: echo Would have run

  check-required:
    needs: changes
    if: needs.changes.outputs.should_run == 'false'
    name: Test Node.js ${{ matrix.node_version }} / Rust ${{ matrix.rust_version }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ["18", "20"]
        rust_version: [stable] # We most likely don't care about Rust versions here, we'll catch those issues in test_rust.yml.
        os: [ubuntu-22.04, windows-latest]

    steps:
      - name: No-op
        run: echo noop
