name: Test Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    name: Paths filter
    runs-on: ubuntu-22.04
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - uses: actions/checkout@v3

      - uses: AurorNZ/paths-filter@v3
        id: filter
        with:
          filters: |
            src:
              - '!web/package.json'
              - '!web/package-lock.json'
              - '!web/packages/**'
              - '!**/*.md'

  build:
    needs: changes
    if: needs.changes.outputs.src == 'true'
    name: Test Rust ${{ matrix.rust_version }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust_version: [stable]
        os: [ubuntu-22.04, windows-latest, macos-latest]
        include:
          - rust_version: nightly
            os: ubuntu-22.04
          - rust_version: beta
            os: ubuntu-22.04

    steps:
      - name: Dummy
        run: echo Would have run


  check-required:
    needs: changes
    if: needs.changes.outputs.src == 'false'
    name: Test Rust ${{ matrix.rust_version }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust_version: [stable]
        os: [ubuntu-22.04, windows-latest, macos-latest]
        include:
          - rust_version: nightly
            os: ubuntu-22.04
          - rust_version: beta
            os: ubuntu-22.04

    steps:
      - name: No-op
        run: echo noop
